<h1>To do list</h1>
<% @tasks.each do |task| %>
  <h2><%= task.description %></h2>
  <span><%= "done" if task.done == true %></span>
  <%= link_to "Show", "tasks/#{task.id}" %>
  <%= link_to "Edit", "tasks/#{task.id}/edit" %>
  <%= link_to "Delete", "tasks/#{task.id}", :method => :delete, :confirm => "Are you sure?" %>
<% end %>
<%= link_to "Create New Task", "tasks/new" %>
