<h1>Task n°<%=@task.id%></h1>
<p><%= @task.description%></p>
<p>Status <%= "done" if @task.done%></p>
<p><%= @task.created_at%></p>
<p><%= @task.updated_at%></p>
<%= link_to "Back to the 'to do List'", :back %>
